/releases/
*.txt

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.pfx

*.userprefs

*/packages/

mono_crash.*

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/