<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="resources\plugins" />
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="YamlDotNet" publicKeyToken="ec19458f3c15af5e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ApplicationVersion" value="v1.2.2"/>
    <add key="LoaderVersion" value="v.0.2"/>
  </appSettings>
  <configSections>
    <section name="UserConfigSection" type="GW2_Addon_Manager.App.Configuration.Model.UserConfigSection, GW2_Addon_Manager"/>
  </configSections>
  <UserConfigSection GamePath="C:\Program Files\Guild Wars 2">
    <AddonsList>
      <AddonData Name="d3d9_wrapper" Installed="true"/>
    </AddonsList>
  </UserConfigSection>
</configuration>